:root {
    /* ## Colors */
    /* ### Primary */
    --strong-Cyan: hsl(171, 66%, 44%);
    --light-Blue: hsl(233, 100%, 69%);
    /* ### Neutral */
    --dark-Grayish-Blue: hsl(210, 10%, 33%);
    --grayish-Blue: hsl(201, 11%, 66%);
    --white: rgb(252, 250, 250);
}
body {
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    color: var(--grayish-Blue);
}
.header {
    margin-bottom: 10rem;
    background: url("./../images/bg-header-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.u-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    padding-top: 5rem;
    margin-bottom: 4rem;
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.h1 {
    font-size: 1.8rem;
    text-align: center;
    color: var(--dark-Grayish-Blue);
}
.header-p {
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 3rem;
}
.u-btn {
    outline: none;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    width: 100%;
    color: var(--white);
    font-weight: 600;
}
.u-btn--iOS {
    background-color: var(--strong-Cyan);
    box-shadow: 2px 2px 0 0 rgb(9, 143, 123), -2px 0 0 0 rgb(9, 143, 123);
}
.u-btn--Mac {
    box-shadow: 2px 2px 0 0 rgb(66, 84, 216), -2px 0 0 0 rgb(66, 84, 216);
    background-color: var(--light-Blue);
}
.section {
    margin-bottom: 5rem;
}
.section-h2 {
    color: var(--dark-Grayish-Blue);
    text-align: center;
}
.section-p {
    text-align: center;
    margin-bottom: 3rem;
}
.computer-img, 
.devices-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 3rem;
}
.content-h4 {
    font-size: 1.3rem;
    margin-bottom: 0;
    text-align: center;
    color: var(--dark-Grayish-Blue);
}
.content-p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}
.content-flex {
    display: flex;
    flex-direction: column;   
}
.content-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.img-companies {
    width: 100px;
    margin-bottom: 3rem;
}
.footer {
    background: #f1f1f1;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}
li {
    margin-bottom: 1rem;
}
a {
    text-decoration: none;
    color: var(--dark-Grayish-Blue);
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
}
.logo-footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.item {
    text-align: center;
}
.item-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}
.fab {
    font-size: 1.5rem;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media screen and (min-width: 769px) {
    .header {
        background: url("./../images/bg-header-desktop.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-p {
        text-align: center;
    }
    .u-wrapper {
        width: 50%;
    }
    .btn-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .u-btn {
        width: 30%;
    }
    .u-btn:hover {
        cursor: pointer;
    }
    .u-wrapper--mod {
        width: 100%;
        display: flex;
    }
    .computer-img {
        width: 40%;
        margin-left: -2rem;
        position: relative;
    }
    .content {  
        position: absolute; 
        right: 25rem;

    }
    .content-h4--left,
    .content-p--left {
        text-align: left;
        max-width: 450px;
    }
    .devices-img {
        width: 100%;
    }
    .content-flex {
        flex-direction: row;
        gap: 5rem;
        justify-content: space-between;
    }
    .u-wrapper--big {
        width: 80%;
    }
    .grid {
        grid-template-columns: repeat(6,1fr);
        justify-content: center;
        align-items: center;
    }
    .item:last-child {
        grid-column: 6/7;
    }
    .item a:hover {
        color: var(--strong-Cyan);
    }
}